body {
	margin: 0;
	padding: 0;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: rgb(210, 210, 210);
	background: #262627;
}

.main {
	margin: 20px; 
	width: 750px;
}

input, textarea {
	width: 100%;
}
textarea {
	height: 150px;
}

button {
	border-radius: 7.5px;
	border: 1px solid #000;
	padding: 3px 15px;
	margin: 8px 0;
	
}
.description {
	float: left
}
.result-rules {
	clear: both;
}
.questions {
	float: right;
}
.footer {
	clear: both;
}