/** initial setup **/
.nano {
	padding: 0 10px;
	margin: 0 10px;
  display: inline-block;
  vertical-align: top;
  position : relative;
  width: 773px;
  height: 587px;
  overflow : hidden;
}
.nano .content {
  border: none;
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
/*.nano .content:focus {
  outline: thin dotted;
}*/

.nano > .pane {
  margin-top: 3px;
  margin-bottom: 3px;
  background : rgba(131,131,131,.5);
  position   : absolute;
  width      : 6px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  /*visibility : hidden\9;  Target only IE7 and IE8 with this hack */
  opacity    : .01; 
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;  
  border-radius         : 5px;
}
.nano > .pane > .slider {
  background: #444;
  background: rgba(131,131,131,1);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;  
  border-radius         : 3px;
}
.nano:hover > .pane, .pane.active, .pane.flashed {
  /*visibility : visible\9;  Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}
.nano .content::-webkit-scrollbar {
  visibility: hidden;
}
.has-scrollbar .content::-webkit-scrollbar {
  visibility: visible;
}
