a {
	color: inherit;
	text-decoration : none;
}

body {
	color: white;
	font-family: 'Cuprum', sans-serif;
}

#app {
	position: relative;
	background: url(../img/background.png) no-repeat;
	width: 880px;
	height: 545px;
	overflow: hidden;
}

.page {
	padding: 34px 0;
}

.back {
	display: none;
	position: absolute;
	left: 28px;
	top: 13px;
	background: url(../img/back.png);
	width: 48px;
	height: 45px;
	cursor: pointer;
	z-index: 9999;
}

.back:hover {
	top: 12px;
}

.back:active {
	top: 13px;
}

.content {
	position: absolute;
	top: 0;
	width: 10000px;
}

.content-tab  {
	display: block;
	float: left;
	position: relative;
	width: 880px;
	height: 545px;
	text-align: center;
	vertical-align: top;
}


.logo {
	width: 412px;
	height: 111px;
	background: url(../img/logo.png);
	margin: 35px auto;
}

.logo-small {
	width: 285px;
	height: 81px;
	background: url(../img/logo_small.png);
	margin: 17px auto;
}

.nav-menu {
	margin: 37px auto;
}

.button {
	width: 403px;
	height: 82px;
	margin: 0 auto 16px;
	text-align: center;
	border-radius: 10px;
	font-size: 43px;
	line-height: 82px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.34);
	cursor: pointer;
}

.tests-button {
	background: #6cd94f;
}

.history-button {
	background: #11959f;
}

.store-button {
	background: #f67c51;
}

.sorting {
	float: left;
	margin: 18px 41px 21px;
	color: #2c8289;
	font-size: 22.86px;
}

.tests {
	position: relative;
	padding: 0 4px;
	clear: both;
}

.tests span,
.tests a         {
	display: inline-block;
	font-size: 33.02px;
	line-height: 65px;
	text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.36);
	overflow: hidden;
}

.tests a  {
	font-size: 22.86px;
	font-weight: 700;
	text-align: center;
}

.test-item {
	position: relative;
	height: 65px;
	background: #b7e5ec;
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.17);
	border-radius: 10px;
	padding-left: 32px ;
	overflow: hidden;
	margin: 0 0 10px;
}

.test-name {
	width: 316px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	text-align: left;
}

.test-length {
	padding-left: 34px;
	min-width: 56px;
	background: url(../img/question.png) 0 10px no-repeat;
}
.test-likes {
	min-width: 122px;
	padding-left: 52px;
	background: url(../img/heart.png) 0 15px no-repeat;
	text-shadow: none !important;
	color: #2c8289;
}

.vr-l {
	width: 1px;
	background: #ceedf2;
}
.vr-b {
	height: 65px;
	width: 1px;
	background: #98d3d7;
}

.test-info {
	width: auto;
	min-width: 135px;
	background: lightgreen;
}
.test-take {
	width: auto;
	min-width: 109px;
	background: lightcoral;
}
.test-description {
	display: none;
	background: #247b88;
	padding: 30px 15px 18px;
	margin: -20px 0 0;
	border-radius: 0 0 10px 10px;
}
.test-description::after {
	display: block;
	height: 1px;
	visibility: hidden;
	content: '.';
	clear: both;
}
.test-description p {
	font-size: 20.32px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	text-align: justify;
}

.test-description span {
	float: right;
	margin: 10px 23px 0px;
	font-size: 20.32px;
	color: #b2faff;
	font-style: italic;
	line-height: initial;
}

.question-text {
	text-align: justify;
	margin: 37px 3px 13px;
	background: #267e8b;
	border-radius: 10px;
	padding: 25px 25px;
	height: 120px;
}

.question-text p {
	font-size: 22.86px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.question-text em {
	color: #59b3c0;
	font-style: italic;
	text-shadow: none;
}
ul.answers {
	padding: 3px;
}
ul.answers::after {
	display: block;
	content: '.';
	visibility: hidden;
	height: 1px;
	clear: both;
}
.answers span {
	font-size: 22.86px;
	color: #237a87;
	text-shadow: 0px 1px 0px #fff;
}
.answers li {
	cursor: pointer;
	clear: left;
	float: left;
	width: 431px;
	text-align: center;
	height: 55px;
	line-height: 55px;
	background: #b7e5ec;
	border-radius: 10px;
	margin: 0 0 16px;
	box-shadow: 0px 2px rgba(0, 0, 0, 0.17);
}
.answers li:hover  span{
	color: #fff;
	text-shadow: none;
}
li#two,
li#four {
	clear: right;
	float: right;
	margin: 0;
}
.progress {
	position: absolute;
	bottom: 10;
	color: #176b78;
}

.pre {
    margin: 70px auto 0px;
}

.pre span {
    font-size: 33.02px;
    color: #2b6c71;
}

.main {
    width: 505px;
    height: 95px;
    background: #fee245;
    border-radius: 10px;
    margin: 33px auto 40px;
    -webkit-box-shadow: inset 0px -7px 30px 3px rgba(255, 244, 180, 0.58), 0px 0px 30px 8px rgba(178, 243, 248, 0.58);
    -moz-box-shadow:    inset 0px -7px 30px 3px rgba(255, 244, 180, 0.58), 0px 0px 30px 8px rgba(178, 243, 248, 0.58);
    box-shadow:         inset 0px -7px 30px 3px rgba(255, 244, 180, 0.58), 0px 0px 30px 8px rgba(178, 243, 248, 0.58);
}

.main h1 {
    text-shadow: 0px 1px 0px #fff7cd;
    font-size: 53.34px;
    color: #c06223;
    line-height: 95px;
}

.description {
    margin: 0 63px;
}

.description p {
    font-size: 43.18px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.36);
    text-align: justify;
    line-height: 45px;
}