﻿<html>
	<head>
		<script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		<script type="text/javascript" src="js/explore.js"></script>
		<link rel="stylesheet" href="css/reset.css" type="text/css">
		<link rel="stylesheet" href="css/xplore.css" type="text/css">
		<link rel="stylesheet" href="css/cuprum.css" type="text/css">

	</head>
	<body>
		<div id="app">
			<div class="page">
				<div class="back"></div>
				
				<div class="content">
					<div id="menu" class="content-tab">
                    <div class="logo"></div>
						<div class="nav-menu">
							<div class="tests-button button">Пройти тест</div>
							<div class="history-button button">История</div>
							<div class="store-button button">Магазин</div>
						</div>
					</div>
					<div id="tests-list" class="content-tab">
                    <div class="logo"></div>
                        <span class="sorting">По рейтингу</span>
						<ul class="tests">

						</ul>
					</div>
					<div id="test" class="content-tab">
						<div class="logo-small"></div>
						<div class="question-text">
							<p></p>
						</div>
						<ul class="answers">
							<li id="one"><span></span></li>
							<li id="two"><span></span></li>
							<li id="three"><span></span></li>
							<li id="four"><span></span></li>
						</ul>
						<span class="progress"></span>
					</div>
                    <div id="result" class="content-tab">
                        <div class="pre">
                            <span></span>
                        </div>
                        <div class="main">
                            <h1></h1> 
                        </div>
                        <div class="description">
                            <p></p>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<script>
			var initData = {{init_data|safe}};
		</script>
	</body>
</html>
